---
import html from '/src/content/raw/services.html?raw';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Services — Exotic Online</title>
	</head>
	<body>
		<Fragment set:html={html} />
	</body>
</html>
